<div class="layotter-modal" ng-controller="FormCtrl">
    <div class="layotter-modal-head">
        <div class="layotter-modal-head-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="layotter-modal-head-info">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <div class="layotter-modal-body">
        {% for element_type in element_types %}
            <div class="layotter-modal-add-element" ng-click="selectNewElementType('{{ element_type.type }}')">
                <div class="layotter-modal-add-element-icon">
                    <i class="fa fa-{{ element_type.icon }}"></i>
                </div>
                <div class="layotter-modal-add-element-info">
                    <h3>{{ element_type.title }}</h3>
                    {{ element_type.description }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="layotter-modal-foot">
        <button type="button" class="button button-large" ng-click="cancelEditing()">{{ cancel }}</button>
    </div>
</div>