<div class="layotter-modal" ng-controller="FormCtrl">
    <form action="" id="layotter-edit">
        <div class="layotter-modal-head">
            <div class="layotter-modal-head-icon">
                <i class="fa fa-{{ icon }}"></i>
            </div>
            <div class="layotter-modal-head-info">
                <h2>{{ title }}</h2>
            </div>
            <div class="layotter-modal-head-fullscreen">
                <span class="layotter-modal-head-fullscreen-expand" ng-click="toggleFullscreen()" title="{{ size_fullscreen }}"><i class="fa fa-expand"></i></span>
                <span class="layotter-modal-head-fullscreen-compress hidden" ng-click="toggleFullscreen()" title="{{ size_default }}"><i class="fa fa-compress"></i></span>
            </div>
        </div>
        <div class="layotter-modal-body">
            <div id="acf-form-data" class="acf-postbox">
                <div class="inside acf-fields">
                    <div id="acf-form-data" class="acf-hidden">
                        <input type="hidden" name="_acfnonce" value="{{ nonce }}">
                        <input id="layotter-changed" type="hidden" name="_acfchanged" value="0">
                    </div>
                    {{ fields | raw }}
                </div>
            </div>
        </div>
        <div class="layotter-modal-loading-container">
        </div>
        <div class="layotter-modal-foot">
            <button type="submit" class="button button-primary button-large">{{ save }}</button>
            <button type="button" class="button button-large" ng-click="cancelEditing()">{{ cancel }}</button>
            <button type="button" class="button button-large" ng-click="backToShowNewElementTypes()" ng-show="showBackButton">{{ back }}</button>
        </div>
        <span id="layotter-edit-submit" class="hidden" ng-click="saveForm()">triggered by ACF after validation</span>
    </form>
</div>